body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:876px;
}
#u1133 {
  position:absolute;
  left:189px;
  top:30px;
  width:1051px;
  height:876px;
}
#u1134 {
  position:absolute;
  left:2px;
  top:430px;
  width:1047px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:540px;
}
#u1135 {
  position:absolute;
  left:234px;
  top:78px;
  width:961px;
  height:540px;
}
#u1136 {
  position:absolute;
  left:2px;
  top:262px;
  width:957px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1137 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1138 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:28px;
  background:inherit;
  background-color:rgba(161, 161, 161, 0.317647058823529);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1139 {
  position:absolute;
  left:235px;
  top:232px;
  width:217px;
  height:28px;
}
#u1140 {
  position:absolute;
  left:2px;
  top:6px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1141 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u1142 {
  position:absolute;
  left:244px;
  top:231px;
  width:28px;
  height:30px;
}
#u1143 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1144 {
  position:absolute;
  left:249px;
  top:227px;
  width:18px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1145 {
  position:absolute;
  left:2px;
  top:12px;
  width:14px;
  word-wrap:break-word;
}
#u1146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1146 {
  position:absolute;
  left:300px;
  top:234px;
  width:51px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1147 {
  position:absolute;
  left:2px;
  top:4px;
  width:47px;
  word-wrap:break-word;
}
#u1148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:35px;
}
#u1148 {
  position:absolute;
  left:272px;
  top:229px;
  width:33px;
  height:35px;
}
#u1149 {
  position:absolute;
  left:2px;
  top:10px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1150 {
  position:absolute;
  left:389px;
  top:233px;
  width:51px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1151 {
  position:absolute;
  left:2px;
  top:3px;
  width:47px;
  word-wrap:break-word;
}
#u1152 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:28px;
  background:inherit;
  background-color:rgba(161, 161, 161, 0.317647058823529);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1153 {
  position:absolute;
  left:235px;
  top:272px;
  width:217px;
  height:28px;
}
#u1154 {
  position:absolute;
  left:2px;
  top:6px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1155 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u1156 {
  position:absolute;
  left:244px;
  top:271px;
  width:28px;
  height:30px;
}
#u1157 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1158 {
  position:absolute;
  left:249px;
  top:267px;
  width:18px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1159 {
  position:absolute;
  left:2px;
  top:12px;
  width:14px;
  word-wrap:break-word;
}
#u1160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1160 {
  position:absolute;
  left:300px;
  top:274px;
  width:51px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1161 {
  position:absolute;
  left:2px;
  top:4px;
  width:47px;
  word-wrap:break-word;
}
#u1162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:35px;
}
#u1162 {
  position:absolute;
  left:272px;
  top:269px;
  width:33px;
  height:35px;
}
#u1163 {
  position:absolute;
  left:2px;
  top:10px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1164 {
  position:absolute;
  left:389px;
  top:273px;
  width:51px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1165 {
  position:absolute;
  left:2px;
  top:3px;
  width:47px;
  word-wrap:break-word;
}
#u1166 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:28px;
  background:inherit;
  background-color:rgba(161, 161, 161, 0.317647058823529);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1167 {
  position:absolute;
  left:235px;
  top:312px;
  width:217px;
  height:28px;
}
#u1168 {
  position:absolute;
  left:2px;
  top:6px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1169 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u1170 {
  position:absolute;
  left:244px;
  top:311px;
  width:28px;
  height:30px;
}
#u1171 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1172 {
  position:absolute;
  left:249px;
  top:307px;
  width:18px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1173 {
  position:absolute;
  left:2px;
  top:12px;
  width:14px;
  word-wrap:break-word;
}
#u1174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1174 {
  position:absolute;
  left:300px;
  top:314px;
  width:51px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1175 {
  position:absolute;
  left:2px;
  top:4px;
  width:47px;
  word-wrap:break-word;
}
#u1176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:35px;
}
#u1176 {
  position:absolute;
  left:272px;
  top:309px;
  width:33px;
  height:35px;
}
#u1177 {
  position:absolute;
  left:2px;
  top:10px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1178 {
  position:absolute;
  left:389px;
  top:313px;
  width:51px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1179 {
  position:absolute;
  left:2px;
  top:3px;
  width:47px;
  word-wrap:break-word;
}
#u1180 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:28px;
  background:inherit;
  background-color:rgba(161, 161, 161, 0.317647058823529);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1181 {
  position:absolute;
  left:235px;
  top:352px;
  width:217px;
  height:28px;
}
#u1182 {
  position:absolute;
  left:2px;
  top:6px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1183 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1184 {
  position:absolute;
  left:249px;
  top:347px;
  width:18px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1185 {
  position:absolute;
  left:2px;
  top:12px;
  width:14px;
  word-wrap:break-word;
}
#u1186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1186 {
  position:absolute;
  left:300px;
  top:354px;
  width:51px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1187 {
  position:absolute;
  left:2px;
  top:4px;
  width:47px;
  word-wrap:break-word;
}
#u1188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:35px;
}
#u1188 {
  position:absolute;
  left:272px;
  top:349px;
  width:33px;
  height:35px;
}
#u1189 {
  position:absolute;
  left:2px;
  top:10px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1190 {
  position:absolute;
  left:389px;
  top:353px;
  width:51px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1191 {
  position:absolute;
  left:2px;
  top:3px;
  width:47px;
  word-wrap:break-word;
}
#u1192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:16px;
}
#u1192 {
  position:absolute;
  left:234px;
  top:391px;
  width:222px;
  height:16px;
}
#u1193 {
  position:absolute;
  left:2px;
  top:0px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1194 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:964px;
  height:153px;
  background:inherit;
  background-color:rgba(94, 94, 94, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1195 {
  position:absolute;
  left:232px;
  top:470px;
  width:964px;
  height:153px;
}
#u1196 {
  position:absolute;
  left:2px;
  top:68px;
  width:960px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:50px;
}
#u1197 {
  position:absolute;
  left:227px;
  top:516px;
  width:58px;
  height:50px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1198 {
  position:absolute;
  left:2px;
  top:17px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1199 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:114px;
}
#u1200 {
  position:absolute;
  left:283px;
  top:485px;
  width:169px;
  height:114px;
}
#u1201 {
  position:absolute;
  left:2px;
  top:49px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1202 {
  position:absolute;
  left:283px;
  top:561px;
  width:169px;
  height:38px;
  color:#FFFFFF;
}
#u1203 {
  position:absolute;
  left:2px;
  top:11px;
  width:165px;
  word-wrap:break-word;
}
#u1204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1204 {
  position:absolute;
  left:283px;
  top:485px;
  width:169px;
  height:114px;
}
#u1205 {
  position:absolute;
  left:2px;
  top:49px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1206 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:114px;
}
#u1207 {
  position:absolute;
  left:477px;
  top:485px;
  width:169px;
  height:114px;
}
#u1208 {
  position:absolute;
  left:2px;
  top:49px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1209 {
  position:absolute;
  left:477px;
  top:561px;
  width:169px;
  height:38px;
  color:#FFFFFF;
}
#u1210 {
  position:absolute;
  left:2px;
  top:11px;
  width:165px;
  word-wrap:break-word;
}
#u1211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:114px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1211 {
  position:absolute;
  left:477px;
  top:485px;
  width:169px;
  height:114px;
}
#u1212 {
  position:absolute;
  left:2px;
  top:49px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1213 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:114px;
}
#u1214 {
  position:absolute;
  left:678px;
  top:485px;
  width:169px;
  height:114px;
}
#u1215 {
  position:absolute;
  left:2px;
  top:49px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1216 {
  position:absolute;
  left:678px;
  top:561px;
  width:169px;
  height:38px;
  color:#FFFFFF;
}
#u1217 {
  position:absolute;
  left:2px;
  top:11px;
  width:165px;
  word-wrap:break-word;
}
#u1218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:114px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1218 {
  position:absolute;
  left:678px;
  top:485px;
  width:169px;
  height:114px;
}
#u1219 {
  position:absolute;
  left:2px;
  top:49px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1220 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:114px;
}
#u1221 {
  position:absolute;
  left:876px;
  top:485px;
  width:169px;
  height:114px;
}
#u1222 {
  position:absolute;
  left:2px;
  top:49px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1223 {
  position:absolute;
  left:876px;
  top:561px;
  width:169px;
  height:38px;
  color:#FFFFFF;
}
#u1224 {
  position:absolute;
  left:2px;
  top:11px;
  width:165px;
  word-wrap:break-word;
}
#u1225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:114px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1225 {
  position:absolute;
  left:876px;
  top:485px;
  width:169px;
  height:114px;
}
#u1226 {
  position:absolute;
  left:2px;
  top:49px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1227 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1228 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:114px;
}
#u1229 {
  position:absolute;
  left:1077px;
  top:485px;
  width:169px;
  height:114px;
}
#u1230 {
  position:absolute;
  left:2px;
  top:49px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1231 {
  position:absolute;
  left:1077px;
  top:561px;
  width:169px;
  height:38px;
  color:#FFFFFF;
}
#u1232 {
  position:absolute;
  left:2px;
  top:11px;
  width:165px;
  word-wrap:break-word;
}
#u1233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:114px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1233 {
  position:absolute;
  left:1077px;
  top:485px;
  width:169px;
  height:114px;
}
#u1234 {
  position:absolute;
  left:2px;
  top:49px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:114px;
}
#u1235 {
  position:absolute;
  left:1077px;
  top:485px;
  width:169px;
  height:114px;
}
#u1236 {
  position:absolute;
  left:2px;
  top:49px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:50px;
}
#u1237 {
  position:absolute;
  left:1142px;
  top:512px;
  width:58px;
  height:50px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1238 {
  position:absolute;
  left:2px;
  top:17px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:133px;
  background:inherit;
  background-color:rgba(3, 3, 3, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1239 {
  position:absolute;
  left:1194px;
  top:466px;
  width:43px;
  height:133px;
}
#u1240 {
  position:absolute;
  left:2px;
  top:58px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1241 {
  position:absolute;
  left:1237px;
  top:466px;
  width:89px;
  height:165px;
}
#u1242 {
  position:absolute;
  left:2px;
  top:74px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u1243 {
  position:absolute;
  left:271px;
  top:83px;
  width:28px;
  height:30px;
}
#u1244 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
}
#u1245 {
  position:absolute;
  left:299px;
  top:88px;
  width:38px;
  height:20px;
}
#u1246 {
  position:absolute;
  left:2px;
  top:2px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
}
#u1247 {
  position:absolute;
  left:299px;
  top:88px;
  width:38px;
  height:20px;
}
#u1248 {
  position:absolute;
  left:2px;
  top:2px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u1249 {
  position:absolute;
  left:239px;
  top:82px;
  width:28px;
  height:30px;
}
#u1250 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1251 {
  position:absolute;
  left:12px;
  top:88px;
  width:171px;
  height:40px;
  color:#FFFFFF;
}
#u1252 {
  position:absolute;
  left:2px;
  top:12px;
  width:167px;
  word-wrap:break-word;
}
#u1253 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:368px;
  background:inherit;
  background-color:rgba(255, 102, 255, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1254 {
  position:absolute;
  left:434px;
  top:137px;
  width:544px;
  height:368px;
}
#u1255 {
  position:absolute;
  left:2px;
  top:176px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:2px;
}
#u1256 {
  position:absolute;
  left:448px;
  top:188px;
  width:519px;
  height:1px;
}
#u1257 {
  position:absolute;
  left:2px;
  top:-8px;
  width:515px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u1258 {
  position:absolute;
  left:468px;
  top:170px;
  width:62px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u1259 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
#u1260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u1260 {
  position:absolute;
  left:564px;
  top:170px;
  width:62px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u1261 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
#u1262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u1262 {
  position:absolute;
  left:671px;
  top:168px;
  width:62px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u1263 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
#u1264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u1264 {
  position:absolute;
  left:782px;
  top:168px;
  width:62px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u1265 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
#u1266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u1266 {
  position:absolute;
  left:868px;
  top:168px;
  width:78px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u1267 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u1268 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:46px;
  background:inherit;
  background-color:rgba(161, 161, 161, 0.509803921568627);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1269 {
  position:absolute;
  left:448px;
  top:206px;
  width:519px;
  height:46px;
}
#u1270 {
  position:absolute;
  left:2px;
  top:15px;
  width:515px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
}
#u1271 {
  position:absolute;
  left:497px;
  top:210px;
  width:38px;
  height:36px;
  font-size:30px;
  color:#FFFFFF;
}
#u1272 {
  position:absolute;
  left:2px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u1273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u1273 {
  position:absolute;
  left:540px;
  top:213px;
  width:28px;
  height:30px;
}
#u1274 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1275 {
  position:absolute;
  left:567px;
  top:209px;
  width:64px;
  height:36px;
  font-size:20px;
  color:#FFFFFF;
}
#u1276 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u1277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1277 {
  position:absolute;
  left:656px;
  top:211px;
  width:84px;
  height:36px;
  font-size:20px;
  color:#FFFFFF;
}
#u1278 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u1279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1279 {
  position:absolute;
  left:770px;
  top:212px;
  width:84px;
  height:36px;
  font-size:20px;
  color:#FFFFFF;
}
#u1280 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u1281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1281 {
  position:absolute;
  left:865px;
  top:211px;
  width:84px;
  height:36px;
  font-size:20px;
  color:#FFFFFF;
}
#u1282 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u1283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u1283 {
  position:absolute;
  left:475px;
  top:213px;
  width:28px;
  height:30px;
}
#u1284 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1285 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 102, 0, 0.509803921568627);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1286 {
  position:absolute;
  left:448px;
  top:250px;
  width:519px;
  height:46px;
}
#u1287 {
  position:absolute;
  left:2px;
  top:15px;
  width:515px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
}
#u1288 {
  position:absolute;
  left:497px;
  top:254px;
  width:38px;
  height:36px;
  font-size:30px;
  color:#FFFFFF;
}
#u1289 {
  position:absolute;
  left:2px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u1290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u1290 {
  position:absolute;
  left:540px;
  top:257px;
  width:28px;
  height:30px;
}
#u1291 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1292 {
  position:absolute;
  left:567px;
  top:253px;
  width:64px;
  height:36px;
  font-size:20px;
  color:#FFFFFF;
}
#u1293 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u1294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1294 {
  position:absolute;
  left:656px;
  top:255px;
  width:84px;
  height:36px;
  font-size:20px;
  color:#FFFFFF;
}
#u1295 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u1296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1296 {
  position:absolute;
  left:770px;
  top:256px;
  width:84px;
  height:36px;
  font-size:20px;
  color:#FFFFFF;
}
#u1297 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u1298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1298 {
  position:absolute;
  left:865px;
  top:255px;
  width:84px;
  height:36px;
  font-size:20px;
  color:#FFFFFF;
}
#u1299 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u1300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u1300 {
  position:absolute;
  left:475px;
  top:255px;
  width:28px;
  height:30px;
}
#u1301 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:17px;
}
#u1302 {
  position:absolute;
  left:969px;
  top:133px;
  width:12px;
  height:17px;
  font-size:35px;
  color:#FF0000;
}
#u1303 {
  position:absolute;
  left:2px;
  top:-12px;
  width:8px;
  word-wrap:break-word;
}
#u1304 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:46px;
  background:inherit;
  background-color:rgba(161, 161, 161, 0.509803921568627);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1305 {
  position:absolute;
  left:448px;
  top:296px;
  width:519px;
  height:46px;
}
#u1306 {
  position:absolute;
  left:2px;
  top:15px;
  width:515px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
}
#u1307 {
  position:absolute;
  left:497px;
  top:300px;
  width:38px;
  height:36px;
  font-size:30px;
  color:#FFFFFF;
}
#u1308 {
  position:absolute;
  left:2px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u1309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u1309 {
  position:absolute;
  left:540px;
  top:303px;
  width:28px;
  height:30px;
}
#u1310 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1311 {
  position:absolute;
  left:567px;
  top:299px;
  width:64px;
  height:36px;
  font-size:20px;
  color:#FFFFFF;
}
#u1312 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u1313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1313 {
  position:absolute;
  left:656px;
  top:301px;
  width:84px;
  height:36px;
  font-size:20px;
  color:#FFFFFF;
}
#u1314 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u1315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1315 {
  position:absolute;
  left:770px;
  top:302px;
  width:84px;
  height:36px;
  font-size:20px;
  color:#FFFFFF;
}
#u1316 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u1317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1317 {
  position:absolute;
  left:865px;
  top:301px;
  width:84px;
  height:36px;
  font-size:20px;
  color:#FFFFFF;
}
#u1318 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u1319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u1319 {
  position:absolute;
  left:475px;
  top:303px;
  width:28px;
  height:30px;
}
#u1320 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1321 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 102, 0, 0.509803921568627);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1322 {
  position:absolute;
  left:448px;
  top:340px;
  width:519px;
  height:46px;
}
#u1323 {
  position:absolute;
  left:2px;
  top:15px;
  width:515px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
}
#u1324 {
  position:absolute;
  left:497px;
  top:344px;
  width:38px;
  height:36px;
  font-size:30px;
  color:#FFFFFF;
}
#u1325 {
  position:absolute;
  left:2px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u1326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u1326 {
  position:absolute;
  left:540px;
  top:347px;
  width:28px;
  height:30px;
}
#u1327 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1328 {
  position:absolute;
  left:567px;
  top:343px;
  width:64px;
  height:36px;
  font-size:20px;
  color:#FFFFFF;
}
#u1329 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u1330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1330 {
  position:absolute;
  left:656px;
  top:345px;
  width:84px;
  height:36px;
  font-size:20px;
  color:#FFFFFF;
}
#u1331 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u1332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1332 {
  position:absolute;
  left:770px;
  top:346px;
  width:84px;
  height:36px;
  font-size:20px;
  color:#FFFFFF;
}
#u1333 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u1334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1334 {
  position:absolute;
  left:865px;
  top:345px;
  width:84px;
  height:36px;
  font-size:20px;
  color:#FFFFFF;
}
#u1335 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u1336 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:46px;
  background:inherit;
  background-color:rgba(161, 161, 161, 0.509803921568627);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1337 {
  position:absolute;
  left:448px;
  top:386px;
  width:519px;
  height:46px;
}
#u1338 {
  position:absolute;
  left:2px;
  top:15px;
  width:515px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
}
#u1339 {
  position:absolute;
  left:497px;
  top:390px;
  width:38px;
  height:36px;
  font-size:30px;
  color:#FFFFFF;
}
#u1340 {
  position:absolute;
  left:2px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u1341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u1341 {
  position:absolute;
  left:540px;
  top:393px;
  width:28px;
  height:30px;
}
#u1342 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1343 {
  position:absolute;
  left:567px;
  top:389px;
  width:64px;
  height:36px;
  font-size:20px;
  color:#FFFFFF;
}
#u1344 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u1345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1345 {
  position:absolute;
  left:656px;
  top:391px;
  width:84px;
  height:36px;
  font-size:20px;
  color:#FFFFFF;
}
#u1346 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u1347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1347 {
  position:absolute;
  left:770px;
  top:392px;
  width:84px;
  height:36px;
  font-size:20px;
  color:#FFFFFF;
}
#u1348 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u1349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1349 {
  position:absolute;
  left:865px;
  top:391px;
  width:84px;
  height:36px;
  font-size:20px;
  color:#FFFFFF;
}
#u1350 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u1351 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 102, 0, 0.509803921568627);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1352 {
  position:absolute;
  left:448px;
  top:430px;
  width:519px;
  height:46px;
}
#u1353 {
  position:absolute;
  left:2px;
  top:15px;
  width:515px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
}
#u1354 {
  position:absolute;
  left:497px;
  top:434px;
  width:38px;
  height:36px;
  font-size:30px;
  color:#FFFFFF;
}
#u1355 {
  position:absolute;
  left:2px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u1356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u1356 {
  position:absolute;
  left:540px;
  top:437px;
  width:28px;
  height:30px;
}
#u1357 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1358 {
  position:absolute;
  left:567px;
  top:433px;
  width:64px;
  height:36px;
  font-size:20px;
  color:#FFFFFF;
}
#u1359 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u1360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1360 {
  position:absolute;
  left:656px;
  top:435px;
  width:84px;
  height:36px;
  font-size:20px;
  color:#FFFFFF;
}
#u1361 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u1362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1362 {
  position:absolute;
  left:770px;
  top:436px;
  width:84px;
  height:36px;
  font-size:20px;
  color:#FFFFFF;
}
#u1363 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u1364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1364 {
  position:absolute;
  left:865px;
  top:435px;
  width:84px;
  height:36px;
  font-size:20px;
  color:#FFFFFF;
}
#u1365 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u1366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文彩云 Bold', '华文彩云';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1366 {
  position:absolute;
  left:645px;
  top:137px;
  width:146px;
  height:29px;
  font-family:'华文彩云 Bold', '华文彩云';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1367 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u1368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1368 {
  position:absolute;
  left:12px;
  top:158px;
  width:171px;
  height:40px;
  color:#FFFFFF;
}
#u1369 {
  position:absolute;
  left:2px;
  top:12px;
  width:167px;
  word-wrap:break-word;
}
#u1370 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:540px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.509803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1371 {
  position:absolute;
  left:234px;
  top:78px;
  width:961px;
  height:540px;
}
#u1372 {
  position:absolute;
  left:2px;
  top:262px;
  width:957px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1373 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-bottom:0px;
  border-radius:150px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1374 {
  position:absolute;
  left:683px;
  top:315px;
  width:113px;
  height:55px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FFFFFF;
}
#u1375 {
  position:absolute;
  left:2px;
  top:20px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-bottom:0px;
  border-radius:150px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1376 {
  position:absolute;
  left:627px;
  top:315px;
  width:113px;
  height:55px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1377 {
  position:absolute;
  left:2px;
  top:20px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:55px;
}
#u1378 {
  position:absolute;
  left:692px;
  top:319px;
  width:59px;
  height:55px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1379 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1380 {
  position:absolute;
  left:530px;
  top:201px;
  width:344px;
  height:65px;
  font-size:18px;
}
#u1381 {
  position:absolute;
  left:2px;
  top:10px;
  width:340px;
  word-wrap:break-word;
}
